#
# Test against yet the lowest versions of dependencies to be notified of regressions
# to the support of older dependencies.
#
tox==2.4 \
    --hash=sha256:3a1a876e5d76eb354a094334f60fbaf96b31abcc5a980fc2f6272bf91d5cf0d4